body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    /*background-position: 3% -1%; */
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
}

p{
    color: #222222;
}
